
.app {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }