
.edit-improvement-dialog{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
}

h3{
    margin: 0;
}



